@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Noto+Sans&family=Hina+Mincho&display=swap");
/*
  font-family: 'Open Sans', sans-serif; Main Font
  font-family: 'Noto Sans', sans-serif; The "Almost All" Languages Font
  font-family: 'Hina Mincho', serif; Styled Font
*/
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
/* Error 404 logo */
/* Para no olvidarme q existe */
/* :root {
} */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* +Defaults */
html {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

body {
  background-color: #6296BA;
  display: flex;
  flex-direction: column;
  justify-items: center;
  /* ESTO ES UN RECORDATORIO YA Q VEO PROBLEMAS POR ESTAS 2 lineas Aquí primero no estoy completamente seguro si deberia usar flexbox por defecto para Mobile First y segundo no estoy seguro si usar items o content para body?  */
  align-items: center;
}
body p {
  color: #222;
}
body h1, body h2, body h3, body h4 {
  color: #F2FBFF;
}

/* + */
/* +Header */
header {
  width: 95%;
}
header nav {
  display: grid;
  gap: 0px 13px;
  grid-template-areas: "nav__logo .    .    ." "nav__logo nav1 nav2 ." "nav__logo .    .    ." "nav__logo nav3 nav4 ." "nav__logo .    .    .";
  align-items: center;
}
header nav a:hover {
  color: #EEE8A9;
}

.nav__logo--svg {
  height: 7rem;
}

.nav__Text {
  min-width: 110px;
  font-size: 0.9rem;
  color: #F2FBFF;
  text-decoration: none;
  background-color: #0397d1;
  border-radius: 10px;
  text-align: center;
  padding: 3% 0px;
  padding-bottom: 4%;
}

.nav__logo--svg--miniText {
  font-size: 0.9rem;
  color: #F2FBFF;
  text-align: center;
  position: relative;
  bottom: 1.5rem;
}

#nav__logo {
  border: none;
  background-color: unset;
  grid-area: nav__logo;
  padding: 0px;
  margin-top: 4%;
  justify-self: left;
  text-decoration: none;
  border-radius: 10px;
}

#nav__logo:hover .nav__logo--svg--miniText {
  color: #EEE8A9;
}

#nav1 {
  grid-area: nav1;
}

#nav2 {
  grid-area: nav2;
}

#nav3 {
  grid-area: nav3;
}

#nav4 {
  grid-area: nav4;
}

/* + */
/* +Main */
main {
  width: 90%;
  margin-top: 50px;
  margin-bottom: 100px;
  /* Para separar en todas las pag el Footer del contenido */
  display: flex;
  flex-direction: column;
  /* Arreglar error para q no quede corrido sobre la izquierda */
  justify-items: center;
  align-items: center;
  gap: 10px;
  /* Quitar esto una ver removidos los WIP ya q las section agregan marging */
  /* RECORDATORIO justify-content: center;
  align-content: center; */
  /* Tal vez necesite estas 2 aquí ? */
}
main section {
  width: 100%;
  height: auto;
  background-color: #0397D1;
  box-shadow: 3px 3px 2px 4px rgba(34, 34, 34, 0.6);
  /* es #222 con 0.6 de alpha */
  border-radius: 4px;
  padding: 5px;
  margin: 10px 0px;
}

/* + */
/* +Footer */
footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px 0px;
}
footer p {
  color: #F2FBFF;
  text-align: center;
}

.footer__cardsBelt {
  width: 90%;
  /* height: 20%; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  gap: 10px 10px;
}

.cardsBelt__card--align {
  width: calc(4/5 * 72px);
  height: calc(4/5 * 46px);
}
.cardsBelt__card--align img {
  width: 70%;
  height: 70%;
  position: relative;
  top: -88%;
  left: 14%;
  transition: 500ms;
}

.cardsBelt__card--align:hover {
  /* ! Interesante q esto solo se dispare si se pasa sobre card--shape ya q card--align no tiene partes visibles ¿Porqué? */
  /* Me pregunto si al ser un area mayor la de card--align protegera de missfires de la animacion cuando el mouse se va de la zona de card--shape pero no de card--align */
}
.cardsBelt__card--align:hover img {
  transform: scale(0.8) translateY(60%);
}
.cardsBelt__card--align:hover .cardsBelt__card--shape {
  transform: translateY(12px) skew(30deg);
  /* Transform me arruina los bordes, ¿Recomendacion? */
  background: rgba(147, 150, 158, 0.972);
}

.cardsBelt__card--shape {
  width: calc(4/5 * 72px);
  height: calc(4/5 * 46px);
  transform: skew(30deg);
  background-color: #F2FBFF;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 1.6px #444;
  /* Usado para contrarestar lo borroso del borde luego de aplicar un transform */
  transition: 500ms;
}

/* Pregunta, en los HTML no le asigne afooter__contact la clase class="cardsBelt__card--align" ya q pense q podria afectar negativamente en especial creia q la imagen iba a ser afectada 2 veces por los valores de width y height, y el posicionamiento, aunque si no estoy esquivocado solo tendrian q sobre escribir. ¿Q seria lo más correcto?, en este caso no hay propiedades q sean distintas (sobren o falten) de ambos grupos. Por ahora esto me parecio lo más limpio, tal vez tendria q crear una clase unica ya q este elemento es un poco distinto. mixin? */
#footer__contact {
  width: calc(4/5 * 88px);
  height: calc(4/5 * 70px);
  z-index: 1;
  margin-right: 4px;
  /* Controla la superpocicion de la esquina */
}
#footer__contact img {
  width: 133%;
  height: 133%;
  position: relative;
  top: -118%;
  left: -16%;
  transition: 500ms;
}

#footer__contact:hover img {
  transform: scale(1.25) translateY(-14px);
}
#footer__contact:hover #footer__contact--shape {
  transform: scaleY(0.8) skew(150deg) translateY(20%);
  background: rgba(147, 150, 158, 0.972);
}

#footer__contact--shape {
  width: calc(4/5 * 88px);
  height: calc(4/5 * 70px);
  transform: skew(145deg);
  background-color: #F2FBFF;
  border-radius: 4px;
  box-shadow: 0px 0px 0px 1.6px #444;
  transition: 500ms;
}

.madeBy {
  width: 16px;
  height: 16px;
  display: block;
  transform: scaleY(2.11) rotate(45deg);
  background-color: #F2FBFF;
  color: #222;
  text-align: center;
  border: 1px solid #222;
  overflow: hidden;
  transition: 260ms;
  line-height: 22px;
  text-decoration: none;
  font-size: 0.7rem;
  -ms-writing-mode: sideways-lr;
      writing-mode: sideways-lr;
}

.madeBy:hover {
  /* Sacar y limpiar esto luego */
  width: 48px;
  height: 48px;
  translate: 0px -48px;
  box-shadow: 3px 3px 0px 2px #6296BA, 6px 6px 0px 4px #444;
}

/* + */
/* +Index */
#index-news {
  max-width: 1200px;
}

.promo__container {
  display: flex;
  flex-flow: row wrap;
  max-width: 1300px;
  /* Colocar var y cal de promo__card--iframe width * 4 + margen o padding + gap */
  align-items: flex-start;
  justify-content: stretch;
  gap: 10px 10px;
}

.promo__card--iframe {
  width: 300px;
  height: 380px;
  margin: -32px -3px -33px;
  /* Cutoff Magic!!! */
}

/* https://stackoverflow.com/questions/63653100/remove-google-border-from-embedded-google-sheet */
.promo__card--cutoff {
  overflow: hidden;
  /* Makes cutoff work */
  display: inline-block;
  /* Fit div to contents */
}

/* + */
/* +404 */
.e404--logo {
  font-size: 20rem;
  color: #EEE8A9;
  text-shadow: 2px 2px 2px #222;
  font-family: "Monoton", cursive;
}

/* + */
/* +Products */
/* + */
/* +Services */
/* + */
/* +Media Querries */
/* RECORDATORIO A futuro pensar, 3 medidas de celulares, 2 de phablets, 4 de tablets, 2 de notebook 16:10 y 16:9, 4 de PC, 4 de TV, 2 cuadradas universales para todos los dispositivos q usen pantallas cuadradas. ¿Tiene algo de sentido lo q puse recien o solo estoy desperdiciando tiempo? ¿Hay algun sitio q haga analisis y me diga a q apuntar para X producto/tipo de pagina? */
@media only screen and (min-width: 1024px) {
  header {
    width: 90%;
  }
  header nav {
    gap: 0px 40px;
    grid-template-areas: "nav__logo nav1 nav2 nav3 nav4" "nav__logo .    .    .    .";
  }

  .nav__logo--svg {
    height: 10rem;
  }

  .nav__Text {
    min-width: 256px;
    font-size: 1.5rem;
    position: relative;
    top: 5px;
  }

  #nav__logo {
    border: none;
    background-color: unset;
    grid-area: nav__logo;
    padding: 0px;
    margin: 0px;
  }

  .main__align {
    /* flex: none; */
    /* ¿Es necesario? */
    display: grid;
    /* ¿Causa algun problema si coloco grid SOLO aquí? o sea no esta puesto en "Mobile" ya q no la usa, es una curiocidad. */
    gap: 0px 10px;
    grid-template-areas: "sec1 sec1 secAside1" "sec3 sec4 secAside2";
    align-items: flex-start;
    justify-content: stretch;
  }

  section.sec1 {
    grid-area: sec1;
  }

  section.sec2 {
    grid-area: sec2;
  }

  section.sec3 {
    grid-area: sec3;
  }

  section.sec4 {
    grid-area: sec4;
  }

  section.secAside1 {
    grid-area: secAside1;
  }

  section.secAside2 {
    grid-area: secAside2;
  }

  main section {
    margin: 0px 0px;
  }
}
/* + *//*# sourceMappingURL=main.css.map */