// ¿para q es el &display=swap ?
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Noto+Sans&family=Hina+Mincho&display=swap');
/*
  font-family: 'Open Sans', sans-serif; Main Font
  font-family: 'Noto Sans', sans-serif; The "Almost All" Languages Font
  font-family: 'Hina Mincho', serif; Styled Font
*/
@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');/* Error 404 logo */

$color-main: #0397D1;
$color-logoWhite: #fff;
$color-BG: #6296BA;
$color-accent: #F2FBFF;
$color-highlight: #EEE8A9;
$color-text: #222;
$color-btn-border: #444;
$color-footerBtn-hover: rgba(147, 150, 158, 0.972);

/* Para no olvidarme q existe */
/* :root {
} */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


/* +Defaults */
  html {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  }

  body {
    background-color: $color-BG;
    display: flex;
    flex-direction: column;
    justify-items: center;/* ESTO ES UN RECORDATORIO YA Q VEO PROBLEMAS POR ESTAS 2 lineas Aquí primero no estoy completamente seguro si deberia usar flexbox por defecto para Mobile First y segundo no estoy seguro si usar items o content para body?  */
    align-items: center;

    p {
      color: $color-text;
    }

    h2, h3, h4 {
      color: $color-accent;
    }
  }
/* + */


/* +Header */
  header {
    width: 95%;

    nav {
      display: grid;
      gap: 0px 13px;
      grid-template-areas:
        "nav__logo .    .    ."
        "nav__logo nav1 nav2 ."
        "nav__logo .    .    ."
        "nav__logo nav3 nav4 ."
        "nav__logo .    .    ."
      ;
      align-items: center;

      a:hover {
        color: $color-highlight;
      }
    }
  }

  .nav__logo--svg {
    height: 7rem;
  }

  .nav__Text {
    min-width: 110px;
    // max-width: 144px;
    // width: 5rem;
    font-size: 0.9rem;
    color: $color-accent;
    text-decoration: none;
    background-color: #0397d1;
    border-radius: 10px;
    text-align: center;
    padding: 3% 0px;
    padding-bottom: 4%;
  }

  .nav__logo--svg--miniText {
    font-size: 0.9rem;
    color: $color-accent;
    text-align: center;
    position: relative;
    bottom: 1.5rem;
  }

  #nav__logo {
    border: none;
    background-color: unset;
    grid-area: nav__logo;
    padding: 0px;
    margin-top: 4%;
    justify-self: left;
    text-decoration: none;
    border-radius: 10px;
  }

  #nav__logo:hover .nav__logo--svg--miniText {
    color: $color-highlight;
  }

  #nav1 {
    grid-area: nav1;
  }

  #nav2 {
    grid-area: nav2;
  }

  #nav3 {
    grid-area: nav3;
  }

  #nav4 {
    grid-area: nav4;
  }
/* + */


/* +Main */
  main {
    width: 90%;
    margin-top: 50px;
    margin-bottom: 100px; /* Para separar en todas las pag el Footer del contenido */
    display: flex;
    flex-direction: column; /* Arreglar error para q no quede corrido sobre la izquierda */
    justify-items: center;
    align-items: center;
    gap: 10px; /* Quitar esto una ver removidos los WIP ya q las section agregan marging */
    /* RECORDATORIO justify-content: center;
    align-content: center; *//* Tal vez necesite estas 2 aquí ? */

    section {
      width: 100%;
      height: auto;
      background-color: $color-main;
      box-shadow: 3px 3px 2px 4px rgba(34, 34, 34, 0.600); /* es #222 con 0.6 de alpha */
      border-radius: 4px;
      padding: 5px;
      margin: 10px 0px;
    }
  }
/* + */


/* +Footer */
  footer {
    width: 100%; /* RECORDATORIO No se si es necesaria esta linea, definir si es 100 95 80 */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px 0px;

    p {
      color: $color-accent;
      text-align: center;
    }
  }

  .footer__cardsBelt {
    width: 100%;
    /* height: 20%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap; /* Mejorar, tal vez sea necesario usar grids para q queden comodamente distribuidos en 2 lineas */
    gap: 10px 7px;
  }

  .cardsBelt__card--align {
    width: 72px;
    height: 46px;

    img {
      width: 70%;
      height: 70%;
      position: relative;
      top: -88%;
      left: 14%;
      transition: 600ms;
    }
  }

  .cardsBelt__card--align:hover {
    // height: 34px; /* Si hago la animacion solo usando esta linea (+ transition:450ms en card--align) y sacando el bloque de img queda más prolija pero se "tilt" si dejo el mouse en la parte de arriba ya q cambia la pocision de la caja */
    img {
      transform: scale(0.8) translateY(60%);
    }

    /* ! Interesante q esto solo se dispare si se pasa sobre card--shape ya q card--align no tiene partes visibles ¿Porqué? */
    /* Me pregunto si al ser un area mayor la de card--align protegera de missfires de la animacion cuando el mouse se va de la zona de card--shape pero no de card--align */
    .cardsBelt__card--shape {
      background: $color-footerBtn-hover;
      transform: translateY(12px) skew(30deg); /* Transform me arruina los bordes, ¿Recomendacion? */
    }
  }

  .cardsBelt__card--shape {
    width: 72px;
    height: 46px;
    transform: skew(30deg);
    background-color: $color-accent;
    border: 2px solid $color-btn-border;
    border-radius: 4px;
    transition: 600ms;
  }

  // .cardsBelt__card--shape:hover {
  //   background-color: $color-highlight; usar degrade radial de gris una vez resuelto
  // }

  // img:hover ~ .cardsBelt__card--shape {
  //   background-color: $color-highlight; usar degrade radial de gris una vez resuelto
  // }

  /* Pregunta, en los HTML no le asigne afooter__contact la clase class="cardsBelt__card--align" ya q pense q podria afectar negativamente en especial creia q la imagen iba a ser afectada 2 veces por los valores de width y height, y el posicionamiento, aunque si no estoy esquivocado solo tendrian q sobre escribir. ¿Q seria lo más correcto?, en este caso no hay propiedades q sean distintas (sobren o falten) de ambos grupos. Por ahora esto me parecio lo más limpio, tal vez tendria q crear una clase unica ya q este elemento es un poco distinto. mixin? */
  #footer__contact {
    width: 88px;
    height: 70px;
    z-index: 1;
    margin-right: 4px; /* Controla la superpocicion de la esquina */

    img {
      width: 133%;
      height: 133%;
      position: relative;
      top: -118%;
      left: -16%;
      transition: 600ms;
    }
  }

  #footer__contact:hover {
    img {
      transform: scale(1.25) translateY(-14px);
    }

    #footer__contact--shape {
      background: $color-footerBtn-hover;
      transform: scaleY(0.8) skew(150deg) translateY(20%);
    }
  }

  #footer__contact--shape {
    width: 88px;
    height: 70px;
    transform: skew(145deg);
    transition: 600;
  }

  .madeBy {
    width: 33px;
    height: 33px;
    display: block;
    transform: scaleY(5.01);/* Intentando crear forma de diamante y fallando horriblemente hay otras scales en el documento team.html por mas q lo voy a sacar despues */
    transform: rotate(45deg);
    background-color: $color-accent;
    color: $color-text;
    text-align: center;
    border: 1px solid $color-text;
    overflow:hidden;
    transition: 260ms;
    line-height: 30px;
    text-decoration: none;
  }

  .madeBy:hover { /* Sacar y limpiar esto luego */
    width: 444px;
  }
/* + */


/* +Index */

/* + */


/* +404 */
  .e404--logo {
    font-size: 20rem;
    color: $color-highlight;
    text-shadow: 2px 2px 2px $color-text;
    font-family: 'Monoton', cursive;
  }
/* + */


/* +Products */

/* + */


/* +Services */

/* + */


/* +Media Querries */
  /* RECORDATORIO A futuro pensar, 3 medidas de celulares, 2 de phablets, 4 de tablets, 2 de notebook 16:10 y 16:9, 4 de PC, 4 de TV, 2 cuadradas universales para todos los dispositivos q usen pantallas cuadradas. ¿Tiene algo de sentido lo q puse recien o solo estoy desperdiciando tiempo? ¿Hay algun sitio q haga analisis y me diga a q apuntar para X producto/tipo de pagina? */

  @media only screen and (min-width:1024px) {
    header {
      width: 90%;

      nav {
        gap: 0px 40px;
        grid-template-areas:
          "nav__logo nav1 nav2 nav3 nav4"
          "nav__logo .    .    .    ."
        ;
      }
    }

    .nav__logo--svg {
      height: 10rem;
    }

    .nav__Text {
      min-width: 256px;
      font-size: 1.5rem;
      position: relative;
      top: 5px;
    }

    #nav__logo {
      border: none;
      background-color: unset;
      grid-area: nav__logo;
      padding: 0px;
      margin: 0px;
    }

    main.asideGrid {
      /* flex: none; */ /* ¿Es necesario? */
      display: grid; /* ¿Causa algun problema si coloco grid SOLO aquí? o sea no esta puesto en "Mobile" ya q no la usa, es una curiocidad. */
      gap: 20px;
      grid-template-areas:
        "sec1 aside"
        "sec2 aside"
      ;
      /* align-items: center; */
      /* justify-items: center; */
    }

    section.sec1 {
      grid-area: sec1;
    }
    section.sec2 {
      grid-area: sec2;
    }
    section.aside {
      grid-area: aside;
    }

    main section {
      margin: 0px 0px;
    }
  }
/* + */
